@model CrudEscuela.Models.Alumno

@{
    ViewData["Title"] = "Editar Alumno";
}

<h1>@ViewBag.Title</h1>

<hr />

<input asp-for="Id" type="hidden" />

<!-- Menú para edición de Expedientes -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit">
                @* Alumno *@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="ApellidoPaterno" class="control-label"></label>
                    <input asp-for="ApellidoPaterno" class="form-control" />
                    <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="ApellidoMaterno" class="control-label"></label>
                    <input asp-for="ApellidoMaterno" class="form-control" />
                    <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Edad" class="control-label"></label>
                    <input asp-for="Edad" class="form-control" />
                    <span asp-validation-for="Edad" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Matricula" class="control-label"></label>
                    <input asp-for="Matricula" class="form-control" />
                    <span asp-validation-for="Matricula" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CorreoElectronico" class="control-label"></label>
                    <input asp-for="CorreoElectronico" class="form-control" />
                    <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>

        @* Materias de los estudiantes *@
        <div class="col-md-6">
            <!-- Lista de Materias -->
            <div class="form-inline">
                <input type="text" class="form-control" placeholder="Materias Disponibles">
                <button class="btn btn-success">Agregar Materia</button>
            </div>

            <br>
            <br>
            
            <table class="table table-striped table-hover table-responsive" id="table-data-materias">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="3">Materias Asignadas</th>
                    </tr>
                    <tr>
                        <th>Materia</th>
                        <th>Costo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @*
                    @foreach(var item in Model.AlumnosMaterias){
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Materia.NombreMateria)
                            </td>
                            <td>
                                <a class="btn btn-danger"
                                    asp-controller="AlumnoMateria"
                                    asp-action="Delete"
                                    asp-route-AlumnoId="@item.AlumnoId"
                                    asp-route-MateriaId="@item.MateriaId"
                                >
                                Borrar
                                </a>
                            </td>
                        </tr>
                    }
                    *@
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="text-rigth" id="totalCosto">Total: </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
